VITE_SUPABASE_URL=https://fsfuxtnrzflnzpnasqbm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzZnV4dG5yemZsbnpwbmFzcWJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzIzNzM4MzEsImV4cCI6MjA0Nzk0OTgzMX0.4aXbx2mo1m-7hTNQ2yIhO_Pmr0ijvJctqtdfCEZ71KU